{% extends 'base.html' %}

{% block title %}Галерея{% endblock %}

{% block content %}
<section class="gallery">
    <h2>Галерея работ</h2>
    <div class="artworks">
        {% for artwork in artworks %}
            <div class="artwork">
                <a href="{% url 'gallery:detail' artwork.id %}">
                    <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
                </a>
                <h3>{{ artwork.title }}</h3>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
